.subtitle{
    font-family: "Varela round";
}

.subtitle.-redirecionamento{
    color: grey;
    font-size: 15px;
    margin-top: 20px;
}

.subtitle.-card{
    color: #575757; 
    text-align: center;
    margin: 5px ;
    font-size: 15px;
    margin-top: 8px;
    padding-bottom: 5px;
}